* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

/* classi riutilizzabili */
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.float_left {
  float: left;
}

.tx_center {
  text-align: center;
}

.tx_right {
  text-align: right;
}

.tx_uppercase {
  text-transform: uppercase;
}

.tx_decoration_none {
  text-decoration: none;
}

.c_white {
  color: white;
}

.c_grey {
  color: grey;
}

.list_unstyled {
  list-style: none;
}

.display_inline {
  display: inline-block;
}

.display_none {
  display: none;
}



.btn {
  border: 1px solid white;
  border-radius: 25px;
  padding: 15px 40px;
  color: white;
}

/* main */
main {
  height: calc(100% - 90px);
  background-color: #141922;
}

#nav_action_sx {
  height: 100%;
  min-height: 500px;
  width: 250px;
  background-color: black;
}

#nav_action_sx .box_nav_top {
  height: calc(100% -  80px);
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}


#nav_action_sx .logo {
  width: 100%;
}

#nav_action_sx .logo img {
  width: 60%;
  padding: 20px 0;
  padding-left: 20px;
}

#nav_action_sx .search_playlists {
  width: 100%;
}

#nav_action_sx .search_playlists ul {
  margin-bottom: 25px;
}

#nav_action_sx .search_playlists ul li img {
  width: 15%;
  vertical-align: middle;
}

#nav_action_sx .search_playlists ul li {
  padding-left: 20px;
}

#nav_action_sx .search_playlists ul li:first-child {
  border-left: 3px solid #adff2f;
  
}

#nav_action_sx .search_playlists ul li a {
  color: grey;
}

#nav_action_sx .search_playlists ul li:first-child a {
  color: white;
}

#nav_action_sx .search_playlists ul a:hover {
  color: white;
}


#nav_action_sx .playlists_name {
  width: 100%;
  overflow: hidden;
}

#nav_action_sx .playlists_name h3 {
  color: white;
  padding-left: 20px;
  font-size: 18px;
}

#nav_action_sx .playlists_name p {
  margin: 20px 0 30px;
  padding-left: 20px;
}

#nav_action_sx .playlists_name p a span {
  background-color: #999999;
  padding: 5px 10px;
  margin-right: 5px;
  color: black;
  font-size: 20px;
}

#nav_action_sx .playlists_name p a {
  color: grey;
}

#nav_action_sx .playlists_name p:hover a {
  color: white;
}



#nav_action_sx .playlists_name ul {
  padding-left: 20px;
  height: 80%;
  overflow-y: auto;
}


#nav_action_sx .playlists_name a {
  color: grey;
  line-height: 2;
  font-size: 15px;
}

#nav_action_sx .playlists_name a:hover {
  color: white;
}


#nav_action_sx .customer_name {
  height: 80px;
  width: 100%;
  padding: 0 20px;
  color: grey;
}

#nav_action_sx .customer_name .app{
  border-bottom: 2px solid grey;
  padding-bottom: 10px;
}

#nav_action_sx .customer_name .app a {
  color: grey;
}

#nav_action_sx .customer_name .utente {
  margin-top: 10px;
  color: grey;
  font-weight: bold;
}

#nav_action_sx .customer_name .utente img {
  width: 15%;
  border-radius: 50%;
  background-color: grey;
  padding: 5px;
  vertical-align: middle;
  margin-right: 5px;
}



#central_section {
  height: 100%;
  width: calc(100% - 250px);
  overflow-y: auto;
}

#central_section .col_to_action {
  height: 90px;
  width: calc(100% - 230px);
  text-align: right;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}

#central_section .col_to_action a {
  line-height: 90px;
  margin-right: 30px;
  font-size: 15px;
  transition: all 0s linear;
}

#central_section .col_to_action a:hover {
  font-size: 18px;
}

#central_section nav {
  margin-top: 90px;
  padding: 20px;
}

#central_section nav li {
  padding: 0 10px;
}

#central_section nav li:first-child::after {
  content: '';
  display: block;
  width: 40%;
  height: 3px;
  background-color: #adff2f;
  margin-left: 30%;
}

#central_section nav li a {
  color: grey;
}

#central_section nav li:hover a {
  color: white;
}

#central_section .contenuto_centrale h2 {
  margin-bottom: 30px;
}

#central_section .contenuto_centrale {
  padding-left: 20px;

}


#central_section .contenuto_centrale .lista_recenti {
  margin-bottom: 60px;
}

#central_section .contenuto_centrale .lista_recenti ul {
  display: flex;
}

#central_section .contenuto_centrale .lista_recenti ul li {
  width: calc(100% / 6 - 15px);
  margin-right: 15px;

}

#central_section .contenuto_centrale .lista_recenti ul li img {
  width: 100%;
}

#central_section .contenuto_centrale .titolo {
  width: 100%;
  line-height: 1.6;
  text-align: center;
}

#central_section .contenuto_centrale .titolo h3 {
  font-size: 15px;
}

#central_section .contenuto_centrale .titolo p {
  font-size: 12px;
}

#central_section .contenuto_centrale .lista_recenti ul li img:hover,
#central_section .contenuto_centrale .creato_perme ul li img:hover,
#central_section .contenuto_centrale .artisti_popolari ul li img:hover {
  opacity: 70%;
}

#central_section .contenuto_centrale .lista_recenti .disco,
#central_section .contenuto_centrale .creato_perme .disco_perme,
#central_section .contenuto_centrale .artisti_popolari .disco_popolari {
  position: relative;
}

#central_section .contenuto_centrale .lista_recenti ul li i,
#central_section .contenuto_centrale .creato_perme ul li i, 
#central_section .contenuto_centrale .artisti_popolari ul li i{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  display: none;
  color: black;
}

#central_section .contenuto_centrale .disco:hover i, 
#central_section .contenuto_centrale .disco_perme:hover i,
#central_section .contenuto_centrale .disco_popolari:hover i {
  display: block;
}




@media screen and (max-width: 768px) {
  #central_section .contenuto_centrale .lista_recenti ul {
    flex-wrap: wrap;
  }

  #central_section .contenuto_centrale .lista_recenti ul li {
    width: calc(100% / 4 - 15px);
  }
}


@media screen and (max-width: 600px) {
  #nav_action_sx {
    width: 70px;
  }

  #central_section {
    width: calc(100% - 70px);
  }

  #central_section .col_to_action {
    width: calc(100% - 70px);
  }

  #central_section .col_to_action a {
    font-size: 10px;
  }
  
  #nav_action_sx .box_nav_top .logo {
    background-image: url('../img/logo-small.svg');
    height: 35px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35%;
  }


  #nav_action_sx .box_nav_top .search_playlists span,
  #nav_action_sx .customer_name .utente span,
  #nav_action_sx .box_nav_top .playlists_name,
  #nav_action_sx .customer_name .app span,
  #nav_action_sx .box_nav_top .logo img {
    display: none;
  }

  #nav_action_sx .box_nav_top .search_playlists img {
    width: 50%;
  }

  #nav_action_sx .customer_name .app {
    border: none;
  }


  #nav_action_sx .customer_name .app .fa-chevron-circle-down {
    font-size: 25px;
    padding-left: 3px;

  }

  #nav_action_sx .customer_name .utente img {
    width: 90%;
  }

}




#central_section .contenuto_centrale .creato_perme h2,
#central_section .contenuto_centrale .artisti_popolari h2 {
  margin-bottom: 2px;
}

#central_section .contenuto_centrale .creato_perme p,
#central_section .contenuto_centrale .artisti_popolari p {
  font-size: 15px;
  margin-bottom: 50px;
}


#central_section .contenuto_centrale .creato_perme ul,
#central_section .contenuto_centrale .artisti_popolari ul {
  display: flex;
}

#central_section .contenuto_centrale .creato_perme ul li,
#central_section .contenuto_centrale .artisti_popolari ul li {
  width: calc(100% / 6);
  margin-right: 15px;
}


#central_section .contenuto_centrale .creato_perme ul li img,
#central_section .contenuto_centrale .artisti_popolari ul li img {
  width: 100%;
}


#central_section .contenuto_centrale .artisti_popolari ul li img {
  border-radius: 50%;
}

#central_section .contenuto_centrale .titolo_perme,
#central_section .contenuto_centrale .testo_popolari {
  width: 100%;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 30px;
}
/* footer */
footer {
  width: 100%;
  height: 90px;
  background-color: #282828;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1;
}

footer .box_footer {
  display: flex;
  width: 100%;
  height: 100%;
}

.sinister {
  width: 250px;
  padding: 0 0 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.copertina img {
  width: 60px;
}

.titolo a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

.titolo a:hover {
  text-decoration: underline;
}


.iconcine {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


@media screen and (max-width: 992px) {
  .iconcine {
    flex-direction: column;
    justify-content: center;
  }
} 

.player {
  width: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.player .player_top ul li {
  padding: 10px 20px;
}

.player .player_top ul li:hover i {
  transform: scale(1.2);
}

.player .player_bottom ul {
  display: flex;
  align-items: center;
}

.player .player_bottom ul li {
  padding: 0 10px;
  font-size: 12px;
}


.player .player_bottom ul li .musica_bar {
  width: 600px;
  height: 4px;
  background-color: grey;
  border-radius: 20px;
}

.player .player_bottom ul li .musica_bar .color_musicabar {
  width: 200px;
  height: 4px;
  background-color: white;
  border-radius: 20px;
  position: relative;
}

.player .player_bottom ul li .musica_bar:hover .color_musicabar::after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white; 
  position: absolute;
  left: 100%;
  top: -200%;
}

.player .player_bottom ul li .musica_bar:hover .color_musicabar {
  background-color: chartreuse;
}

.volume {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.volume ul {
  display: flex;
}

.volume ul li {
  padding-right: 15px;
}

.volume ul li .volume_player {
  width: 110px;
  height: 4px;
  border-radius: 20px;
  background-color: grey;
}

.volume ul li .volume_player .color_volumeplayer {
  width: 50px;
  height: 4px;
  border-radius: 20px;
  background-color: white;
}