* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

/* classi riutilizzabili */
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.float_left {
  float: left;
}

.tx_center {
  text-align: center;
}

.tx_right {
  text-align: right;
}

.tx_uppercase {
  text-transform: uppercase;
}

.tx_decoration_none {
  text-decoration: none;
}

.c_white {
  color: white;
  font-size: 50px;
}

.list_unstyled {
  list-style: none;
}


.btn {
  border: 1px solid white;
  border-radius: 25px;
  padding: 15px 40px;
  color: white;
}

/* main */
main {
  height: calc(100% - 90px);
  background-color: #141922;
}

#nav_action_sx {
  height: 100%;
  min-height: 500px;
  width: 250px;
  background-color: black;
}

#nav_action_sx .box-1 {
  height: calc(100% -  80px);
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}


#nav_action_sx .logo {
  width: 100%;
}

#nav_action_sx .logo img {
  width: 60%;
  padding: 20px 0;
  padding-left: 20px;
}

#nav_action_sx .search_playlists {
  width: 100%;
}

#nav_action_sx .search_playlists ul {
  margin-bottom: 25px;
}

#nav_action_sx .search_playlists ul li img {
  width: 15%;
  vertical-align: middle;
}

#nav_action_sx .search_playlists ul li {
  padding-left: 20px;
}

#nav_action_sx .search_playlists ul li:first-child {
  border-left: 3px solid #adff2f;
  
}

#nav_action_sx .search_playlists ul li a {
  color: grey;
}

#nav_action_sx .search_playlists ul li:first-child a {
  color: white;
}

#nav_action_sx .search_playlists ul a:hover {
  color: white;
}


#nav_action_sx .playlists_name {
  width: 100%;
  overflow: hidden;
}

#nav_action_sx .playlists_name h3 {
  color: white;
  padding-left: 20px;
  font-size: 18px;
}

#nav_action_sx .playlists_name p {
  margin: 20px 0 30px;
  padding-left: 20px;
}

#nav_action_sx .playlists_name p a span {
  background-color: #999999;
  padding: 5px 10px;
  margin-right: 5px;
  color: black;
  font-size: 20px;
}

#nav_action_sx .playlists_name p a {
  color: grey;
}

#nav_action_sx .playlists_name p:hover a {
  color: white;
}



#nav_action_sx .playlists_name ul {
  padding-left: 20px;
  height: 80%;
  overflow-y: auto;
}


#nav_action_sx .playlists_name a {
  color: grey;
  line-height: 2;
  font-size: 15px;
}

#nav_action_sx .playlists_name a:hover {
  color: white;
}


#nav_action_sx .customer_name {
  height: 80px;
  width: 100%;
  padding: 0 20px;
}

#nav_action_sx .customer_name .app{
  border-bottom: 2px solid grey;
  color: grey;
  padding-bottom: 10px;
}

#nav_action_sx .customer_name .utente {
  margin-top: 10px;
  color: grey;
  font-weight: bold;
}

#nav_action_sx .customer_name .utente img {
  width: 15%;
  border-radius: 50%;
  background-color: grey;
  padding: 5px;
  vertical-align: middle;
  margin-right: 5px;
}


#central_section {
  height: 100%;
  width: calc(100% - 250px);
  margin-top: 90px;
  overflow-y: auto;
}

#central_section .col_to_action {
  width: calc(100% - 250px);
  height: 90px;
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  top: 0;
  right: 0;
}

#central_section .col_to_action a {
  line-height: 90px;
  margin-right: 30px;
  font-size: 15px;
}


/* footer */
footer {
  width: 100%;
  height: 90px;
  background-color: #282828;
  position: fixed;
  left: 0;
  bottom: 0;
}